# Tratar todos los archivos que GitHub confunde como SCSS o PHP
*.scss linguist-language=SCSS
*.php linguist-language=PHP

# Decirle explícitamente que NO hay lenguaje Hack
*.hh linguist-language=PHP
*.hhi linguist-language=PHP

# Ignorar carpetas de estilos compilados para que no inflen el porcentaje de CSS
css/ vendor/ node_modules/ linguist-vendored