// Colores
$primary-blue: #2563eb;
$secondary-blue: #4687e2;
$primary-green: #16a34a;
$accent-orange: #f97316;
$slate-900: #0f172a;
$slate-700: #334155;
$slate-400: #94a3b8;
$slate-200: #bbc7d8;
$white: #ffffff;

// Breakpoints
$nav-breakpoint: 1024px;