@charset "UTF-8";
/* 1. Box sizing universal */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Eliminar márgenes y paddings por defecto */
* {
  margin: 0;
  padding: 0;
}

/* 3. Evitar que las imágenes desborden y quitar bordes */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 4. Quitar estilos de listas (bolitas/números) */
ul, ol {
  list-style: none;
}

/* 5. Reset de tipografía y herencia en formularios */
input, button, textarea, select {
  font: inherit;
}

/* 6. Quitar subrayado de enlaces por defecto */
a {
  text-decoration: none;
  color: inherit;
}

/* 7. Mejorar el renderizado de texto */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.header {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 1000;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #d1dbe0;
  padding: 10px;
}
@media (min-width: 1024px) {
  .nav {
    justify-content: space-around;
  }
}
.nav__img {
  max-width: 200px;
  width: 30vw;
  min-width: 150px;
}
.nav__checkbox {
  display: none;
  /* cuando el checkbox está checked, activa el menú */
}
.nav__checkbox:checked ~ .nav-primary {
  pointer-events: auto;
  transform: translateX(100%);
}
.nav__checkbox:checked + .nav__label .nav__hamburger {
  background: transparent;
}
.nav__checkbox:checked + .nav__label .nav__hamburger::before {
  top: 0;
  transform: rotate(45deg);
}
.nav__checkbox:checked + .nav__label .nav__hamburger::after {
  top: 0;
  transform: rotate(-45deg);
}
.nav__label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .nav__label {
    display: none;
  }
}
.nav__hamburger {
  position: relative;
  width: 30px;
  height: 3px;
  background: black;
  display: block;
  transition: all 0.3s ease;
}
.nav__hamburger::before, .nav__hamburger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: black;
  left: 0;
  transition: all 0.3s ease;
}
.nav__hamburger::before {
  top: -10px;
}
.nav__hamburger::after {
  top: 10px;
}
.nav__img-menu {
  width: 25px;
}

.nav-primary {
  position: absolute;
  top: 100%;
  left: -100vw;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.95);
  transition: transform 0.3s ease;
  height: calc(100vh - 100%);
}
.nav-primary__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  font-size: x-large;
}
.nav-primary__actions {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .nav-primary {
    display: none;
    /* desktop muestra nav-secondary, nav-primary permanece oculto */
    transform: translateX(0);
    position: static;
    height: auto;
    width: auto;
    background-color: transparent;
    pointer-events: auto;
  }
  .nav-primary__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
  }
}

.nav-secondary {
  display: none;
}
@media (min-width: 1024px) {
  .nav-secondary {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .nav-secondary__actions {
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .nav-secondary {
    gap: 10vw;
  }
  .nav-secondary__actions {
    gap: 3vw;
  }
}

.footer {
  height: 100px;
}

.btn {
  padding: 15px;
  border-radius: 50px;
  transition: all 0.3s ease;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.btn:active {
  transform: translateY(-1px);
}
.btn--primary {
  border: #16a34a 2px solid;
}
.btn--primary:hover {
  background-color: #16a34a;
  color: #ffffff;
}
.btn--secondary {
  border: #2563eb 2px solid;
  background-color: #2563eb;
  color: #ffffff;
}
.btn--secondary:hover {
  background-color: transparent;
  color: #2563eb;
}
@media (min-width: 1024px) {
  .btn {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (min-width: 1200px) {
  .btn {
    width: 200px;
  }
}

.menu {
  transition: all 0.3s ease;
}
.menu__item:hover {
  color: #4687e2;
  transform: scale(1.05);
}
.menu--primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  font-size: x-large;
}
@media (min-width: 1024px) {
  .menu--primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
  }
}
.menu--secondary {
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (min-width: 1200px) {
  .menu--secondary {
    gap: 3vw;
  }
}/*# sourceMappingURL=main.css.map */