@use '../base/variables';
@use '../base/mixins';

.footer{
    background-color: rgb(41, 43, 66);
    color: white;
    padding: 1rem 0 1rem 0;
    display: grid;
    grid-template-areas: 
        "menus"
        "social"
    ;
    @media (min-width: variables.$bp-lg) {
        grid-template-areas: 
        "menus social"
        "bottom bottom"
    ;
    }
    &__follow{
        border-top: 1px solid rgb(146, 146, 177);
        grid-area: social;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include mixins.center(both);
        @media (min-width: variables.$bp-lg) {
            padding-left: 20px;
            border-top: 0px;
            border-left: 1px solid rgb(146, 146, 177);
            align-items: start;
        }
    }
    &__top{
        grid-area: top;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include mixins.center(both);
        justify-content: space-around;
    }
    &__logo{
        width: 60px;
        height: auto;
    }
    &__social{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        &-icon{
            width: 40px;
            height: auto;
        }
    }
    &__menus{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        grid-area: menus;
    }

}

.footer-admin{
    background-color: rgb(41, 43, 66);
    &__copyright{
        color: white;
        text-align: center;
    }
}