@use '../base/variables';
@use '../base/mixins';

.btn {
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 200px;
    text-align: center;
    @include mixins.center(both);

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgb(41, 43, 66);
    }

    &:active {
        transform: translateY(-1px);
    }

    &--primary {
        border: grey 2px solid;
        &:hover {
            background-color: #154fad;
            border: #154fad 2px solid;
            color: variables.$white;
        }

    }

    &--secondary {
        background: linear-gradient(180deg, #f5b474, #f39b0e);
        color: variables.$white;

        &:hover {
            background: linear-gradient(135deg, #e67e22, #d35400);
            transform: translateY(-2px);
        }
    }
    

    @media (min-width: variables.$bp-lg) {
        width: fit-content;
    }
    @media (min-width: variables.$bp-xl) {
        width: 200px;
    }
}

.menu {
    transition: all 0.3s ease;
    text-align: center;

    &__item{
        border-bottom: 2px solid transparent;
    }
    &__item:hover {
        border-bottom: 2px solid rgb(41, 43, 66);
    }

    &--primary {
        @include mixins.flex(column, center, null, 30px);
        padding: 20px;
        font-size: x-large;

        @media (min-width: variables.$bp-lg) {
            @include mixins.flex(row, center, center, 20px);
            padding: 0;
        }
    }

    &--secondary {
        font-size: medium;
        @include mixins.flex(row, center, center, 20px);

        @media (min-width: variables.$bp-xl) {

            gap: 3vw
        }
    }
}