@use '../base/variables';
@use '../base/mixins';

.menu {
    transition: all 0.3s ease;

    &__item:hover {
        color: variables.$secondary-blue;
        transform: scale(1.05);
    }

    &--primary {
        @include mixins.flex(column, center, null, 30px);
        padding: 20px;
        font-size: x-large;

        @media (min-width: variables.$bp-lg) {
            @include mixins.flex(row, center, center, 20px);
            padding: 0;
        }
    }

    &--secondary {
        font-size: medium;
        @include mixins.flex(row, center, center, 20px);

        @media (min-width: variables.$bp-xl) {

            gap: 3vw
        }
    }
}