@use '../base/variables';
@use '../base/mixins';

.nav {
    color: rgb(1, 1, 66);
    font-weight: 700;
    font-size: 20px;
    @include mixins.flex(row, space-between);
    padding: 10px;

    @media (min-width: variables.$bp-lg) {
        justify-content: space-around;
    }

    &__img {
        max-width: 200px;
        width: 45vw;
        min-width: 150px;
    }

    &__checkbox {
        display: none;

        /* cuando el checkbox está checked, activa el menú */
        &:checked~.nav-primary {
            pointer-events: auto;
            transform: translateX(100%);
        }

        &:checked+.nav__label .nav__hamburger {
            background: transparent; // desaparece la barra del medio
        }

        &:checked+.nav__label .nav__hamburger::before {
            top: 0;
            transform: rotate(45deg);
        }

        &:checked+.nav__label .nav__hamburger::after {
            top: 0;
            transform: rotate(-45deg);
        }
    }

    &__label {
        cursor: pointer;
        @include mixins.center(both);

        @media (min-width: variables.$bp-lg) {
            display: none;
        }
    }

    &__hamburger {
        position: relative;
        width: 30px;
        height: 3px;
        background: rgb(41, 43, 66);
        display: block;
        transition: all 0.3s ease;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 3px;
            background: rgb(41, 43, 66);
            left: 0;
            transition: all 0.3s ease;
        }

        &::before {
            top: -10px;
        }

        &::after {
            top: 10px;
        }
    }


    &__img-menu {
        width: 25px;
    }
}

.nav-primary {
    position: absolute;
    top: 100%; // justo debajo del header
    left: -100vw;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.95);
    transition: transform 0.3s ease;
    height: calc(100vh - 100%);

    &__actions {
        @include mixins.flex(column, center, null, 30px);
        padding: 20px;
        font-size: x-large;
    }

    &__actions {
        padding-top: 30px;
        @include mixins.center(both);
    }


    @media (min-width: variables.$bp-lg) {
        display: none;
        /* desktop muestra nav-secondary, nav-primary permanece oculto */
        transform: translateX(0);
        position: static;
        height: auto;
        width: auto;
        background-color: transparent;
        pointer-events: auto;

        &__actions {
            @include mixins.flex(row, center, center, 20px);
            padding: 0;
        }
    }
}

.nav-secondary {
    display: none;

    @media (min-width: variables.$bp-lg) {
        display: flex;
        @include mixins.flex(row, center, center, 25px);

        &__actions {
            font-size: medium;
            @include mixins.flex(row, center, center, 20px);
        }
    }

    @media (min-width: variables.$bp-xl) {
        gap: 10vw;

        &__actions {
            gap: 3vw
        }
    }

}

.account-menu {
    position: relative;
    display: inline-block;
}

.account-menu__button {
    font-size: x-large;
    padding: 0px 20px 20px 20px;
    width: 200px;
    background-color: transparent;
    border: none;

    color: rgb(1, 1, 66);
    font-weight: 700;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &:hover{
        border-bottom: 2px solid rgb(41, 43, 66);
    }

    @media (min-width: variables.$bp-lg) {
        width: 150px;
        padding: 20px;
        font-size: 16px;
    }
}

.account-menu__icon {
    font-size: 12px;
}

.account-menu__dropdown {

    position: absolute;

    top: calc(100% + 14px);
    right: -25px;

    width: 200px;

    background-color: white;

    border-radius: 0px 0px 10px 10px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    box-shadow:
  -6px 8px 12px -6px rgba(0,0,0,0.15),
   6px 8px 12px -6px rgba(0,0,0,0.15);

    overflow: hidden;

    display: none;

    flex-direction: column;

    z-index: 9999;
}

.nav-primary .account-menu__dropdown {
    position: static;
    width: 100%;
    margin-top: 15px;
    box-shadow: none;
    background-color: transparent;
}

.nav-primary .account-menu__link {
    background-color: transparent;
    color: rgb(1, 1, 66);
}

.account-menu__dropdown.active {
    display: flex;
}

.account-menu__link {

    text-align: center;
    display: block;

    width: 100%;

    padding: 18px 22px;

    text-decoration: none;

    color: #333;

    font-size: 17px;
    font-weight: 500;

    background-color: white;

    transition: background-color 0.2s ease;
}

.account-menu__link:hover {
    background-color: #f2f2f2;
}